<%- view("content/index", doc, req) %>

<form method="post" action="/contactForm/save">
  <input type="text" name="subject" placeholder="Subject">
  <textarea name="message" placeholder="Your Message" rows="5"></textarea>
  <input type="email" name="email" placeholder="Email">
  <input type="text" name="phone" placeholder="Phone">
  <input type="submit" value="Send Message">
</form>