<%- view("content/index", doc, req) %>

<% if (req.query.authFailed) { %>
<p>
    <b>Sorry could not change your password.</b>
</p>
<% } %>
<form method="post" action="/auth/change-password">
    <label>Current password:
        <input type="password" name="password">
    </label>
    <label>New pasword:
        <input type="password" name="password1">
    </label>
    <label>Repeat passwortd:
        <input type="password" name="password2">
    </label>
    <button type="submit">Submit</button>
</form>