<%- view("content/index", doc, req) %>

<% if (req.query.authFailed) { %>
<p>
    <b>Sorry could not log you in using the username and password you supplied.</b>
</p>
<% } %>
<form method="post" action="/auth/login">
    <label>Username:
        <input type="text" name="username">
    </label>
    <label>Password:
        <input type="password" name="password">
    </label>
    <button type="submit">Submit</button>
</form>